
.App {
  background-color: gainsboro;
  width: 50%;
  padding: 5%;
  padding-top: 5%;
  text-align: center;
  margin-left: 25%;
  height: 100vh;
}
.btn-warning{
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 24px;
  font-size: 30px;
  text-align: center;
  color: white;
  position: absolute; 
  right: -7px;
}

.input{
  display: flex;
  align-items: center;
  position: relative;
}

#note:focus{
  box-shadow: none;
}